html
    head
        title Instruction
        link(rel="stylesheet", href="/stylesheets/main.css")
        script(src="//code.jquery.com/jquery-1.11.1.js")
        meta(name="viewport", content="width=device-width, initial-scale=0.8, maximum-scale=0.9, minimum-scale=0.7")
    body
        div.div_instruc_top_div
            h1 INSTRUCTION
            p The instruction offered basically two languages, korean and english. By the way, the english instruction is wrote by the translator, so it may be weird.
        div.div_instruc_bottom_div
            div
                div.div_select_language(style="margin-right: 60px;")
                    a(href="/instruction/ko")
                        p 한국어
                div.div_select_language
                    a(href="/instruction/en")
                        p English