/*Main Color: #ff7d78 */

/*Get 'Google Noto Sans' Fonts*/
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

/*Prevent Drag Evnet*/
.prev_drag {-ms-user-select: none; -moz-user-select: -moz-none; -webkit-user-select: none; -khtml-user-select: none; user-select:none;}

/*Default Font is 'Noto Sans'*/
* { margin:0; border:0; }

*:not(input) {
    font-family:'Noto Sans KR';
}

*:focus {
    outline: none;
}

html, body {
    overflow-y: auto;
}

.shadow_1 {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

.shadow_2 {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
}

.purple_shadow_1 {
    box-shadow: 0 0 15px rgba(94, 110, 255, 0.4);
}

.bt_submit {
    padding: 0 100px;
    height: 50px;
    color: white;
    font-size: 12pt;
    background-color: #5E6EFF;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.bt_submit:hover {
    background-color: #4655e0;
}

.h1_main {
    color: #3D3D3D;
    font-size: 25pt;
    font-weight: 600;
    line-height: 30pt;
}

.img_main_icon {
    width: 45px;
    margin-top: 25px;
    opacity: 0.5;
    cursor: pointer;
}

.img_main_icon_sel {
    width: 45px;
    margin-top: 25px;
    opacity: 0.9;
    cursor: pointer;
}

.div_main_overview_div {
    display: none;
    width: 100vw;
    height:100%;
    position: absolute;
    left: 0;
    top: 0;
}

.div_main_overview_background {
    width: 100vw;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    cursor: pointer;
}

.div_main_overview_box {
    width: 400px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.p_main_overview_name {
    color: #3D3D3D;
    font-size: 14pt;
    float: left;
    line-height: 65px;
    margin: 20px;
    margin-left: 0;
    cursor: pointer;
}

.div_main_left_bar {
    float: left;
    width: 90px;
    height: 100%;
    background-color: #5E6EFF;
    text-align: center;
}

@media all and (max-height: 400px) {
    .div_main_left_bar {
        height: 400px;
    }
}

.button_people_profile {
    float: left;
    width: 310px;
    height: 100px;
    background-color: white;
    cursor: pointer;
    margin-right: 15px;
    margin-bottom: 15px;
}

.img_people_profile {
    float: left;
    width: 55px;
    margin-top: 2px;
    margin-left: 20px;
    border-radius: 100px;
}

.h3_people_profile_name {
    float: left;
    color: #3D3D3D;
    margin-left: 20px;
    font-size: 16pt;
    line-height: 50px;
    font-weight: 300;
}