html
    head
        title Information
        link(rel="stylesheet", href="/stylesheets/main.css")
        script(src="//code.jquery.com/jquery-1.11.1.js")
        script(src="/socket.io/socket.io.js")
        script(src="/javascripts/cookie.js")
        script.
            var ratio = window.devicePixelRatio; if(ratio > 1){ location.href="/m/information"; }

            $(window).resize(function (){
                var ratio = window.devicePixelRatio; if(ratio > 1){ location.href="/m/information"; }
            });
    body
        div.div_main_left_bar
            img#my_profile.img_main_icon_sel(src="/images/main_profile_white.jpg", style="width:45px; border-radius: 100px; margin: 0; margin-top: 35px; margin-bottom: 5px;")
            br
            a(href="/people")
                img.img_main_icon(src="/images/main_people.png")
            br
            a(href="/message")
                img.img_main_icon(src="/images/main_chat.png", style="width: 40px;")
            br
            img.img_main_icon_sel(src="/images/main_information.png", style="width: 45px;")
        div(style="padding: 35px 10px 0 130px;")
            h1.prev_drag.h1_main Information
            h3(style="margin-top: 25px; color: #8A8A8A; font-weight: 500;") - Development
            div.shadow_2.div_inform_devel_div
                div(style="display: flex; align-items: center; flex-direction: row; margin-top: 10px; margin-left: 10px; text-align: left;")
                    img(src="/images/main_profile_gray.jpg", style="width: 60px; border-radius: 60px;")
                    div(style="margin-left: 15px;")
                        h3(style="color: #3D3D3D; font-weight: 500;") Junyeong Yun
                        p(style="color: #7E7E7E; font-weight: 300;") Develope & Design
                hr(style="height: 1px; background-color: #B7B7B7; margin: 20px 10px;")
                a(href="https://github.com/ypjun100", target="_blank")
                    img(src="/images/information_github.jpg",style="width: 45px; margin-bottom: 15px;")
                    

            h3(style="margin-top: 45px; margin-bottom: 20px; color: #8A8A8A; font-weight: 500;") - Image
            p(style="color: #636363; font-size: 0.9em;")
                a(href="https://dribbble.com/shots/10006531-Count", target="_blank", style="color: #5686F8;") https://dribbble.com/shots/10006531-Count 
                |- Timo Kulider
            p(style="color: #636363; margin-top: 10px; font-size: 0.9em;")
                a(href="https://www.tuktukdesign.com/people-icon-01/", target="_blank", style="color: #5686F8;") https://www.tuktukdesign.com/people-icon-01/ 
                |- Tuk Tuk Design
        div.div_main_overview_div
            div.div_main_overview_background
            div.div_main_overview_box
                h1.prev_drag.h1_main(style="font-size: 20pt; margin: 20px 0 0 25px;") My Profile
                img.img_main_icon_sel(src="/images/main_profile_gray.jpg", style="width: 55px; border-radius: 100px; float: left; margin: 25px; cursor: none;")
                p#my_name.p_main_overview_name Anonymous
        
        script.
            var alarm = new Audio('/sounds/bell.wav');
            //Animation when click my profile
            $('#my_profile').on('click', function() {
                $('.div_main_overview_div').stop(true).css({'display': 'block', 'opacity': 0}).animate({'opacity': 1}, 400);
            });

            //Animation when close
            $('.div_main_overview_background').on('click', function() {
                $('.div_main_overview_div').stop(true).animate({'opacity': 0}, 300, function() {
                    $(this).css({'display': 'none'})
                });
            });

            //When click my name
            $('#my_name').on('click', function() {
                var new_nickname = prompt('Enter nickname to change.', $('#my_name').text());
                if(new_nickname)
                    socket.emit('change_my_nickname', getCookie('session_id'), new_nickname);
            });

            var socket = io();

            //Request to resume connecting with server
            socket.emit('session_resume', getCookie('session_id'));

            //Response of 'session_resume'
            socket.on('session_resume', function(state) {
                if(state) {
                    //Reqest the data include my name and friends list
                    socket.emit('request_data', getCookie('session_id'), 'people');
                } else {
                    location.href = "/error?code=101";
                }
            });

            //Response of 'request_data'
            socket.on('request_data', function(state, my_name) {
                if(state) {
                    $('#my_name').text(my_name);
                } else {
                    location.href = "/error?code=102";
                }
            });

            //Response of 'change_my_nickname'
            socket.on('change_my_nickname', function(state) {
                if(state) {
                    socket.emit('session_resume', getCookie('session_id'));
                    alert('Changed your nickname!');
                } else {
                    alert("Couldn't changed the nickname. Maybe the nickname you enter is existing already.");
                }
            });

            //When user send a message.
            socket.on('msg_user', function(inp_from_session_id, msg) {
                let date = new Date();
                
                //Save message data in localStorage
                if(localStorage[inp_from_session_id]) {
                    localStorage[inp_from_session_id] = localStorage[inp_from_session_id] + ';' + inp_from_session_id + ':' + msg  + ":" + ("0" + date.getHours()).slice(-2) + ':' + ("0" + date.getMinutes()).slice(-2);
                    $('#p_lastmsg_' + inp_from_session_id).text(msg);
                } else {
                    localStorage[inp_from_session_id] = inp_from_session_id + ':' + msg  + ":" + ("0" + date.getHours()).slice(-2) + ':' + ("0" + date.getMinutes()).slice(-2);
                    $('#p_lastmsg_' + inp_from_session_id).text(msg);
                }

                alarm.play();
            });